@use "../../../variables.scss" as *;
.container {
  padding: 8px;
}
#titleName {
  @include titles(270%);
  color: var(--white);
  animation: slideInLeft;
  animation-duration: 3s;

}

/* TITULO SECUNDARIO */
#title2 {
  @include titles(300%);
  animation: slideInLeft;
  animation-duration: 2.5s;
    background: linear-gradient(-45deg,#bff5f5, #ccfafa, #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Prefijos para transiciones y transformaciones */
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
}
@keyframes entrance {
        0% {
                opacity: 0;
                transform: translateY(-250px);
        }
        100% {
                opacity: 1;
                transform: translateY(0);
        }
}

/* TEXTO ABOUT ME */
#aboutMe {
  @include normalText(1.2em);
  text-align: justify;
  animation: slideInUp;
  animation-duration: 2.5s;
  }

  @media only screen and (max-width: 991.98px) {
    #titleName {
      font-size: 2rem !important;
    }
    #title2 {
      font-size: 1.9rem !important;
    }
    #aboutMe {
      font-size: 1rem !important;
    }
  }
    /* Responsive adicional */
    @media only screen and (max-width: 600px) {
      #titleName, #title2 {
        font-size: 2rem !important;
      }
      #aboutMe {
        font-size: 0.9rem !important;
      }
    }
