#mainCont{
  padding: 0;
}
.technologies{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight:bolder;
  letter-spacing: -5px;
  font-size: 300%;
  color: var(--white);
  animation: swing;
  animation-duration: 2.5s;

}
/* LETRAS DEBAJO LOGO TECH */
#techDiv {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
}
/* IMAGENES DENTRO DE TECH */
#techPhotos {
  color: white;
  justify-content: end;
  img{
    width: 30%;
    height: 50%;
  }
}
#techNames{
  font-family: 'Montserrat', sans-serif;
  font-size: 65%;
  p{
    margin: 0;
  }
}

