/* DIV TITULO TECNOLOGIAS */
#technologies {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#technologies span {
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  text-align: center;
  line-height: 1;
  color: #c6e2ff;
  animation: neon 1s ease-in-out infinite alternate;
}
@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px #1e84f2eb,
    0 0 34px #1e84f2c7,
    0 0 54px #1e84f2eb;
  }
  to {
    text-shadow:
    0 0 6px rgba(0, 0, 0, 0.541),
    0 0 30px rgba(0, 0, 0, 0.42),
    0 0 12px rgba(0, 0, 0, 0.58),
    0 0 22px rgba(0, 0, 0, 0.84),
    0 0 38px rgba(0, 0, 0, 0.88),
    0 0 60px rgb(0, 0, 0);
  }
}
.link {
	position: absolute;
	bottom: 10px; left: 10px;
	color: #828282;
	text-decoration: none;
	&:focus,
	&:hover {
    color: #c6e2ff;
		text-shadow:
    0 0 2px rgba(202,228,225,0.92),
    0 0 10px rgba(202,228,225,0.34),
    0 0 4px rgba(30,132,242,0.52),
    0 0 7px rgba(30,132,242,0.92),
    0 0 11px rgba(30,132,242,0.78),
    0 0 16px rgba(30,132,242,0.92);
	}
}
/* DIV TITULO TECNOLOGIAS */

/* LETRAS DEBAJO LOGO TECH */
#techDiv {
  justify-content: center;
  text-align: center;
  color: #ffffff;
}
/* IMAGENES DENTRO DE TECH */
#techPhotos img{
  width: 80px;
  height: 100px;
  max-width:50%;
  max-height:50%;
  padding-top: 10px;
}
#techNames{
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 15px;
  display: flex-end
}
