/* DIV PRINCIPAL LETRERO */
#letter {
  text-align: center;
  align-items: center;
  margin-bottom: 0px;
}
#letterRow {
  margin-top: 0px;
  text-align: center;
  vertical-align: middle;
  align-items: center;
}
.neon {
  font-family: "Sacramento", cursive;
  color: #FB4264;
  font-size: 350%;
  line-height: 350%;
  text-shadow: 0 0 3vw #F40A35;
}
.flux {
  font-family: "Sacramento", cursive;
  color: #426DFB;
  font-size: 350%;
  line-height: 350%;
  text-shadow: 0 0 3vw #2356FF;
}
.neon {
  animation: neon 2s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}
@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #dc81f8, 0 0 3vw #dc81f8, 0 0 10vw #dc81f8, 0 0 10vw #dc81f8, 0 0 .4vw #fe28f3, .5vw .5vw .1vw #771172;
    color: #f747f7;
  }
  50% {
    text-shadow: 0 0 .5vw #47095f, 0 0 1.5vw #47095f, 0 0 5vw #47095f, 0 0 5vw #47095f, 0 0 .2vw #800E0B, .5vw .5vw .1vw #5a0756;
    color: #f747f7;
  }
}
.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}
@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}







/* GRID DE PROJECTS */
@media (min-width: 600px) {
  .news-card {
    height: 12rem;
  }
}

@media (min-width: 900px) {
  .news-card {
    height: 20rem;
  }
}

/* DIV PRINCIPAL */
.content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem;
}

/* DIV DE TODA LA CARD */
.news-card {
  border: 0px solid aqua;
  margin: 0.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 290px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}
.news-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0)
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
  z-index: 0;
}
.cardLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.cardImage {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
}

/* TEXTOS SOBRE LA CARD */
.news-card__text-wrapper {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  color: white;
  transition: background-color 1.5s ease;
}
/* TEXTOS VISIBLES */
.news-card__title {
  transition: color 1s ease;
  margin-bottom: 0.5rem;
}
.news-card__tech {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  color: #ccc;
}
/* TEXTOS HOVER */
.news-card__details-wrapper {
  max-height: 0;
  opacity: 0;
  transition: max-height 1.5s ease, opacity 1s ease;
}
.news-card:hover .news-card__details-wrapper {
  max-height: 20rem;
  opacity: 1;
}
.news-card:hover .news-card__text-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
}
.news-card:hover .news-card__title {
  color: #70e5fa;
}
.news-card:hover .news-card__image {
  transform: scale(1.2);
  z-index: -1;
}
.cardDescription {
  font-weight: 300;
}

/* BOTON */
.readMoreButton {
  background: black;
  color: #bbb;
  display: block;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  border: 1px solid #444;
  font-size: 0.8rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-decoration: none;
  width: 7rem;
  margin-left: auto;
  position: relative;
  z-index: 5;
}
.readMoreButton i {
  position: relative;
  left: 0.2rem;
  color: #888;
  transition: left 0.5s ease, color 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.readMoreButton:hover i {
  left: 0.5rem;
  color: #7dbef0;
}























