<div class="container mb-2" id="cont1">
  <div class="row">

    <div class="col-12">
      <div class="hire">
        <span>HIRE ME!</span>
      </div>
      <p>Feel free to contact me if you have any questions, ideas, or if you just want to say hello.</p>
      <p> Thank you so much for being here today. I'm delighted to connect with each and every one of you. </p>

      <div class="btnDiv">
        <app-button routerLink="/contact">SEND AN EMAIL<img src="/assets/heart.svg" alt=""></app-button>
      </div>
    </div>

  </div>
</div>