#cont1 {
  display: flex;
  align-items: end;
  justify-content: center;
  text-align: center;
}
.btnDiv {
  display: flex;
  justify-content: center;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight:bolder;
  font-size: 350%;
  letter-spacing: -5px;
  line-height: 0.75em;
  text-transform: uppercase;
  color: var(--white);
}

    /* Responsive adicional */
    @media only screen and (max-width: 600px) {
      h1 {
        font-size: 1.2rem !important;
      }
      p {
        font-size: 0.9rem !important;
      }
    }
p {
  font-family: 'Anton', sans-serif;

  color: var(--white);
}
