<!-- AL PASAR EL ROW A CLASE BG, SE MALOGRA LA ANIMACION, OCUPO ENCONTRAR LA MANERA QUE SIGA SIENDO NITIDA -->
<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>

<!-- SECTION 1 -->
<section class="container-fluid home outer">
  <div class="row bg">
    <div class="inner">
      <div class="col-lg-12">

        <app-about-me></app-about-me>

      </div>
    </div>
  </div>

  <div class="foto" aria-hidden="true">
    <img src="../../../assets/nombre.webp" alt="Alonso Jimenez name logo" class="img1" loading="lazy">
    <img src="../../../assets/1.webp" alt="Professional portrait of Alonso Jimenez" class="img2" loading="lazy">
  </div>
</section>




<!-- SECTION 2 -->
<section id="section1" class="container-fluid first outer">
  <div class="row bg">
    <div class="inner">
      <div class="col-lg-12">

        <app-technologies></app-technologies>

      </div>
    </div>
  </div>
</section>



<!-- SECTION 3 -->
<section class="container-fluid second outer">
  <div class="row bg">
    <div class="inner">
      <div class="col-lg-12">

        <app-about-projects></app-about-projects>

      </div>
    </div>
  </div>
</section>

<!-- SECTION 4 -->
<section class="container-fluid third outer">
  <div class="row bg">
    <div class="inner">

      <div class="col-lg-12">
        <app-contact-me></app-contact-me>
      </div>

    </div>
  </div>
</section>