<!-- AL PASAR EL ROW A CLASE BG, SE MALOGRA LA ANIMACION, OCUPO ENCONTRAR LA MANERA QUE SIGA SIENDO NITIDA -->
<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>
<section class="container-fluid home outer">
  <div class="row bg">
    <div class="inner">
      <div class="col-lg-12">

        <app-about-me></app-about-me>

      </div>
    </div>
  </div>

  <div class="foto">
    <img src="../../../assets/nombre.webp" alt="" class="img1">
    <img src="../../../assets/alonso.webp" alt="" class="img2">
  </div>
</section>




<!-- SECTION 1 -->
<section id="section1" class="container-fluid first outer">
  <div class="row bg">
    <div class="inner">
      <div class="col-lg-12">

        <app-technologies></app-technologies>

      </div>
    </div>
  </div>
</section>




<section class="container-fluid second outer">
  <div class="row bg">
    <div class="inner">
      <div class="col-lg-12">

        <app-about-projects></app-about-projects>

      </div>
    </div>
  </div>
</section>

<section class="container-fluid third outer">
  <div class="row bg">
    <div class="inner">

      <div class="col-lg-12">
        <app-contact-me></app-contact-me>
      </div>

    </div>
  </div>
</section>