<div class="container mb-2" id="cont1">
  <div class="row">

    <div class="col-12">
      <h1>
        MY WORKS
      </h1>
      <p>
        I invite you to explore a little of my humble works.
      </p>
      <p>All the websites are always responsive. Following the rule of "Mobile first", hhey look great on desktop, tablets </p>
      <p> and mobile phones too.Also, all my works are written in valid and clean code! </p>
      <div class="btnDiv">
        <app-button routerLink="/projects">LETS'S EXPLORE</app-button>
      </div>
    </div>

  </div>
</div>
