@use "../../../variables.scss" as *;

#cont1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.btnDiv {
  display: flex;
  justify-content: center;
}

.works {
  @include homeSectionTitle;
}

p {
  font-family: 'Anton', sans-serif;

  color: var(--white);
}
